* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #ffff;
  --text-color: #221314;
  --second-color: #5a7184;
  --main-color: #6e54fa;
  --big-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  padding: 80px 10%;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 10%;
  transition: ease 0.4s;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--bg-color);
}

.logo span {
  color: #2f00bd;
}

.navbar {
  display: flex;
}

.navbar a {
  display: inline-block;
  color: var(--bg-color);
  font-size: 0.9rem;
  margin: 0 1rem;
  border-radius: 4px;
  font-weight: 600;
}

.navbar a:hover {
  /* color: #190062; */
  color: #2f00bd;
}

.navbar a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid #190062;
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar a:hover::after {
  transform: scaleX(0.5);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.exp {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(asset/pool.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background: #9280f7; */
}

.text h2 {
  margin-top: 2rem;
  color: var(--bg-color);
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 12px;
}

.text p {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 500;
}

.box img {
  width: 100px;
  height: 90px;
  border-radius: 8px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
}

.exp-item {
  /* min-height: 50px;
  max-width: 500px; */
  height: 250px;
  width: 250px;
  background: transparent;
  border: 1px solid #d1d1d1;
  border-radius: 2rem;
  padding: 20px 20px;
  cursor: pointer;
  color: var(--text-color);
  background: var(--bg-color);
  transition: 0.4s ease-in-out;
}

.exp-item:hover {
  box-shadow: 5px 10px 30px rgb(25, 0, 98, 30%);
  transform: scale(1.1);
  transition: ease-in-out 0.4s;
}

.exp-item h2 {
  font-size: 14px;
  margin-top: 1rem;
}

.exp-item p {
  margin-top: 1rem;
  font-size: 12px;
  line-height: 2;
  font-weight: 500;
}
